# Python Fundamentals
This notebook demonstrates how to perform a variety of fundamental tasks in the Python programming language.

### How to Display Text in Python

In [ ]:
#display a line of text using the  print()  function
print('Hello, my name is Dan!')

### How to Include a Linefeed when Displaying Text in Python

In [ ]:
#print two lines of text by using the new line symbol
print('This is the first line of text\nHere is another line of text')

### How to Declare Variables in Python

In [ ]:
#declare three variables.
#note that text values are enclosed in single quotes.
product_name = 'Delicious Nachos'
quantity_sold = 33
unit_price = 12.99

#print the values of the variables.
#when used in this way, the '+' symbol joins two strings of text together.
#the 'str()' function converts a number to a string (i.e., to text)
print('We sold ' + str(quantity_sold) + ' ' + product_name + ' for ' + str(unit_price) + ' each!')

In [ ]:
#here's a more advanced way of accomplishing the same thing by using the 'format()' function:
print('We sold {0} {1} for {2} each!'.format(quantity_sold, product_name, unit_price))

### Arithmetic Operators in Python

In [ ]:
#set the value of a variable named 'a' to 5
a = 5

#addition. Result: 7
b = a + 2  

#subtraction. Result: 4
c = b - 3   

#multiplication. Result: 8
d = c * 2   

#division. Result: 2.0
e = d / 4  

#exponentiation. Result: 4.0
f = e ** 2  

#modulo (returns the remainder). Result: 0.0
g = f % 2   

#print results
print('The values of a, b, c, d, e, f, and g are: {0}, {1}, {2}, {3}, {4}, {5}, and {6}.'.format(a, b, c, d, e, f, g))

### Comparison Operators in Python

In [ ]:
x = 5          #set the value of a variable named 'x' to 5
print(x == 3)  #checks whether x is equal to 3. Result: False
print(x != 7)  #checks whether x is not equal to 7. Result: True
print(x > 14)  #checks whether x is greater than 14. Result: False
print(x < 23)  #checks whether x is less than 23. Result: True
print(x >= 9)  #checks whether x is greater than or equal to 9. Result: False
print(x <= 5)  #checks whether x is less than or equal to 5. Result: True

In [ ]:
x = -33
x < 7

### Lists in Python

In [ ]:
#create a list of integers
int_list = [-3, 7, 4, 0, -2, 342]

#create a list of strings
planets_list = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

#create a two-dimensional list of integers
two_dimensional_list = [[-3, 7, 4], [0, -2, 342]]

#### Indexing in Python
Indexing in Python is zero-based, so the first element in a list or array has an index of `0`, the second element has an index of `1`, and so on.
![03%20-%20Indexing%20for%20One-Dimensional%20List.png](attachment:03%20-%20Indexing%20for%20One-Dimensional%20List.png)

In [ ]:
#print the name of the third planet
print(planets_list[2])

### NumPy Arrays in Python

In [ ]:
#import the NumPy library and assign it the alias 'np'
import numpy as np

#create a two-dimensional array of size 2x3 (i.e., 2 rows, 3 columns), and set all of its values to zero
np_array = np.zeros((2, 3))

#print the current state of the two-dimensional array
print(np_array)

#### Indexing in Two-Dimensional Lists and Arrays
When working with two-dimensional lists or arrays, we need to specify the index of an element's row and the index of its column.
![03%20-%20Indexing%20for%20Two-Dimensional%20Array.png](attachment:03%20-%20Indexing%20for%20Two-Dimensional%20Array.png)

In [ ]:
#set the values of the upper-left and lower-right elements to 5 and 3, respectively
np_array[0,0] = 5
np_array[1,2] = 3

#print the current state of the two-dimensional array
print(np_array)

#print the mean (average) of all of the array elements
print(np.mean(np_array))

### `if` Statements in Python

In [ ]:
#declare a variable named 'x' and set its value
x = -7

#print a specific message depending on whether x is less than 10
if x < 10:
    print('x is less than 10.')
else:
    print('x is greater than or equal to 10.')

In [ ]:
#handle multiple possibilities using an 'if', 'else if', 'else' structure
age = 42

if age < 13:
    print('child')
elif age < 20:
    print('teenager')
else:
    print('adult')

### Logical Operators in Python

In [ ]:
#use logical operators to test multiple conditions simultaneously
x = 5
y = 10

if x > 0 and y > 0:
    print('both variables are positive.')
elif x > 0 or y > 0:
    print('one of the variables is positive.')
else:
    print('neither variable is positive.')

In [ ]:
#reverse the result of a comparison by using 'not'
age = 7

if not age < 13:
    print('the person is not a child.')
else:
    print('the person is a child')

### `for` Loops in Python

In [ ]:
#print the first 10 natural numbers (1 through 10).
#note that the lower limit of the range is inclusive, while the upper limit of the range is exclusive.
for x in range(1, 11):
    print(x)

In [ ]:
#create a list of strings
planets_list = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

#print the names of all of the planets in the planets list
for planet in planets_list:
    print(planet)

In [ ]:
#import the NumPy library and assign it the alias 'np'
import numpy as np

#create a two-dimensional array of size 2x3 (i.e., 2 rows, 3 columns), and set all of its values to zero
np_array = np.zeros((2, 3))

#set the values of a few array elements
np_array[0,0] = 5
np_array[1,2] = 3

#print our two-dimensional NumPy array from earlier in this notebook
print(np_array)

In [ ]:
#use nested for loops to print out each individual element in the array
for row in range(0, 2):
    for column in range(0, 3):
        print('The value of element [{0},{1}] is {2}'.format(row, column, np_array[row,column]))

### `while` Loops in Python

In [ ]:
#use a while loop to print a geometric series with a factor of 2
x = 1
while x < 10000:
    print(x)
    x = x * 2

### Functions in Python

In [ ]:
#define a function that multiplies two numbers together
def multiply(a, b):
    return a * b

#call the function and print the result
c = multiply(33, 147)
print('33 multiplied by 147 is {}'.format(c))

In [ ]:
#define a function that determines if a number is even
def is_even(x):
    if x % 2 == 0: #a number is even if it can be evenly divided by 2
        return True
    else:
        return False
    
#call the function several times and print the results
for i in range(0, 10):
    print('Is {0} an even number? Answer: {1}'.format(i, is_even(i)))

### Classes and Objects in Python

In [ ]:
#define a 'Movie' class to hold information about movies
class Movie():
    def __init__(self, title, year, director):
        self.title = title
        self.year = year
        self.director = director

#add a few movie objects to a 'movies' list
movies = [] #create an empty list
movies.append(Movie('Avatar', 2009, 'James Cameron'))
movies.append(Movie('Black Panther', 2018, 'Ryan Coogler'))

#print information about each movie
for movie in movies:
    print('The {0} movie {1} was directed by {2}.'.format(movie.year, movie.title, movie.director))